<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="PermissionAll()">All Permission</ion-button>
    <ion-button (click)="CommandTesting()">Command Testing</ion-button>
   <ion-button (click)="CashDrawerEncoderFinalEXPT()">Cash Drawer External Printer</ion-button>
    
    
  </div>
</ion-content>
